<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2">
<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae maxime, eligendi voluptas laborum officia quia architecto, soluta
    molestias quos saepe magni consequuntur hic aspernatur fugit consectetur sed vitae perspiciatis id. Impedit eos sed modi magnam
    asperiores pariatur alias ducimus? Voluptas corrupti voluptate eos. Quidem, ducimus. Asperiores nam recusandae et in, quis natus. Iste
    alias quos praesentium sed corrupti, temporibus fuga molestiae perspiciatis beatae laudantium ipsum labore tempora vel in odit
    voluptates obcaecati sit quasi minima sint debitis atque dolorem enim. Alias quo provident veniam molestias, enim accusamus ex assumenda
    ducimus ipsa dolorem laborum dicta sunt est inventore vel similique unde!
  </p>
</section>
